<h1>Nuestros Productos</h1>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Descripción</th>
        <th scope="col">Categoría</th>        
        <th scope="col">Precio</th>
        <th scope="col">Stock</th>
        <th scope="col">Compras</th>
      </tr>
    </thead>
    <tbody class="color">
      <tr *ngFor="let item of items" [ngClass]="{'clearance':item.clearance}">
        <td><img [src]="item.image" [alt]="item.name"></td>
        <td class="description">{{item.description}}</td>
        <td>{{item.category}}</td>
        <td>{{item.price | currency}}</td>
        <td><span class="badge badge-warning" *ngIf="item.stock==0">SIN STOCK</span>
            <span class="badge badge-dark" *ngIf="item.stock>0">{{item.stock}}</span>
        </td>
        <td class="btn">
          <app-input-integer [(quantity)]="item.quantity" [max]="item.stock" *ngIf="item.stock"></app-input-integer>
          <button class="btn btn-primary" (click)="addToCart(item)">Comprar</button>
        </td>
      </tr>
      
    </tbody>
  </table>
