img{
    height: 270px;
  }

.clearance{
    border:palevioletred 2px solid;
    background-color: pink;

}

.color{
    background: lightgoldenrodyellow;
}

.description{
    width: 50px;
}


button{
    border-color: crimson;
    background-color: lightcoral;
}

input{
    width: 40px;
    margin: 5px;
}