img{
    height: 260px;
    width: 175px;
  }

.clearance{
    border:palevioletred 2px solid;
    background-color: pink;

}

.color{
    background: lightgoldenrodyellow;
}

.description{
    width: 50px;
}




