<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Descripción</th>
        <th scope="col">Categoría</th>        
        <th scope="col">Precio</th>
        <th scope="col">Stock</th>
      </tr>
    </thead>
    <tbody class="color">
      <tr *ngFor="let item of items" [ngClass]="{'clearance':item.clearance}">
        <td><img [src]="item.image" [alt]="item.name"></td>
        <td>{{item.description}}</td>
        <td>{{item.category}}</td>
        <td>{{item.price | currency}}</td>
        <td><span class="badge badge-warning" *ngIf="item.stock==0">SIN STOCK</span></td>
      </tr>
      
    </tbody>
  </table>
