img{
    height: 260px;
    width: 175px;
  }

.clearance{
    background-color: pink;

}

.color{
    background: lightgoldenrodyellow;
}

.description{
    width: 50px;
}
h1{
    font-family: 'Lobster', cursive;
}
thead{
    background-color: rosybrown;
}

button.btn-primary{
    border-color: crimson;
    background-color: lightcoral;
    margin:5px;
    color: black;
    width: 80px;
    justify-content: center;

}



