.navbar-brand{
    font-family: 'Lobster', cursive;
    font-size: 30px;
    color: purple;
}
 nav{
     background-color: rosybrown!important;
 }

 a{
     font-size: 20px;
 }

 footer{
    font-family: 'Lobster', cursive;
    font-size: 20px;
    background-color: rosybrown!important;
    height: 85px;

 }

 p{
     text-align: center;
     padding: 30px;
 }