img{
    height: 110px;
    width: 75px;
  }

.clearance{
    border:palevioletred 2px solid;
    background-color: pink;

}

.color{
    background: lightgoldenrodyellow;
}
h1{
    font-family: 'Lobster', cursive;
}
thead{
    background-color: rosybrown;
}